{{#> _page }}
<div class="bgimg" style="background-image: url('assets/images/documentation/screen-page-v2.png');"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-7">
        <h2>Documentation</h2>
        <p class="lead mx-auto desc mb-5">All the resources you need to learn how to use tweak!</p>
      </div>
    </div>
  </div>
</div>
{{!-- tweak anatomy --}}
<div class="site-section">
  <div class="documentation-section">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-8 section-heading">
        <h3 class="heading mb-3">tweak anatomy</h3>
        <span class="subheading">Some highlights of our UI</span>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-8">
        <img alt="tweak components" src="assets/images/documentation/tweak-anatomy2.png" class="img-fluid">
      </div>
      <div class="col-lg-4">
        <ul style="list-style:none">
          <li>
            <details open>
              <summary><b>1. Global settings</b></summary>
              <ul>
                <li><b>Search on/off</b>: read more about the Search functionality here</li>
                <li><b>Delete all</b>: deletes all the configurations and the request autocomplete cache. Retrigger in the browser tab the requests that you wish to search in the URL field.</li>
                <li><b>Collapse all rows</b>: minimizes all the rows</li>
                <li><b>Run/Pause the extension</b>: click on the Run button when you are ready to start intercepting requests</li>
                <li><b>Create a new configuration</b>: adds a new empty configuration as a row</li>
              </ul>
            </details>
          </li>
          <li>
            <details>
              <summary><b>2. Import/Export</b></summary>
              You can use the export functionality to save configurations and test cases that can be imported back later on
            </details>
          </li>
          <li>
            <details>
              <summary><b>3. Regular expression toggle</b></summary>
              When toggled on, you can specify a <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions" target="_blank"
              title="Regular expressions - JavaScript MDN">Regular Expression</a> to match against the request URL. Don't worry about <i>typos</i>, we will give you instant feedback on whether your regular expression is valid or not.
            </details>
          </li>
          <li>
            <details>
              <summary><b>4. Number of requests intercepted</b></summary>
              If you're seeing the <code>0</code> value after trying to intercept a request it means that you might have a mismatch on your configuration, double check the request URL and the selected HTTP method to ensure everything is ok.
            </details>
          </li>
          <li>
            <details>
              <summary><b>5. Row Options</b></summary>
              Here you have the additional options of duplicating or deleting a configuration.
            </details>
          </li>
          <li>
            <details>
              <summary><b>6. Delay request by</b></summary>
              Allows you to delay the request interception by as many milliseconds (<i>ms</i>) as specified.
            </details>
          </li>
          <li>
            <details>
              <summary><b>7. Request payload</b></summary>
              You can specify here the request payload for each request.
            </details>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-8 section-heading">
        <h3 class="heading mb-3">🆕 Requests autocomplete</h3>
        <span class="subheading">Easily search and complete the requests you want to intercept</span>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-8">
        <img alt="tweak search" src="assets/images/documentation/tweak-request-autocomplete.gif" class="img-fluid">
      </div>
      <div class="col-lg-4">
        <ul>
          <li><b><i>How do I turn search on?</b></i>
            <ul>
              <li>Click on the search icon in the top bar</li>
              <li>In the browser tab, <b>trigger the requests you want to autocomplete</b></li>
              <li>Search for the request directly in the URL field (just like you do in the DevTools - Network panel)</li>
              <li>Select a request and <b>all the fields will be autocompleted for you</b> 🎉</li>
            </ul>
          </li>
          <li><b><i>What parameters can I search for?</b></i>
            <ul>
              <li>Search <b>by request URL</b></li>
              <li>Search <b>by HTTP method</b>: if you search for "GET", you will see all the GET requests available. Note: all the HTTP method keywords are case-sensitive.</li>
            </ul>
          </li>
          <li><b><i>Can I use regular expressions to search?</b></i>  Yes, if you turn on the regular expression toggle, you will be able to filter results with regular expressions.</li>
          <li>❗<b>After deleting all the requests from the extention</b>, remember to retrigger all the requests from the browser tab, otherwise the search results will be empty.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{!-- tweak video tutorials --}}
<div class="site-section bg-light">
  <div class="documentation-section">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-8 section-heading">
        <h3 class="heading mb-3">Video Tutorials</h3>
        <span class="subheading">Some short and straight to the point videos to get you up to speed!</span>
      </div>
    </div>
    {{#each htmlWebpackPlugin.options.content.videos }}
      <div class="row justify-content-center text-center">
        <h4 class="text-dark">{{ this.title }}</h4>
      </div>
      <div class="row justify-content-center text-center mb-5">
        <iframe
          src="{{ this.frameSrc }}"
          style="min-height: 340px; width: 100%; margin: 2% 4%; max-width: 720px; border: 0;"
          allowfullscreen>
        </iframe>
      </div>
    {{/each}}
  </div>
</div>
{{!-- blog posts --}}
<div class="site-section">
  <div class="documentation-section">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-8 section-heading">
        <h3 class="heading mb-3">Blog posts</h3>
        <span class="subheading">All about tweak!</span>
      </div>
    </div>
    {{#each htmlWebpackPlugin.options.content.blogposts }}
      <div class="col justify-content-center text-center">
        <h4 class="text-dark">{{ this.title }}</h4>
        <p>{{ this.subtitle }}</p>
      </div>
      <div class="row justify-content-center text-center mb-5">
        <a href="{{ this.href }}" target="_blank" title="{{ this.seoTitle }}">📖 read now</a>
      </div>
    {{/each}}
  </div>
</div>
{{!-- closing notes --}}
<div class="site-section">
  <div class="documentation-section">
    <p>
      Do you want to try it yourself in our test application? <a href="https://tweak-target-app.herokuapp.com"
        target="_blank" title="Link to the web application where you can test tweak"><b>Here</b></a> you can access
      the website that we use in our video demonstrations.
    </p>
    <p>
      Take a look at our <a
        href="{{ htmlWebpackPlugin.options.content.links.changelog }}" target="_blank"
        title="Link to Changelog of tweak"><b>Changelog</b> for the latest changes in tweak</a>!
    </p>
  </div>
</div>
{{/ _page }}
