<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<header class="site-navbar py-4 js-sticky-header site-navbar-target">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a href="{{ htmlWebpackPlugin.options.baseUrl }}">
          <div class="logo" style="background-image: url('assets/images/tweak-logo.png');"></div>
        </a>
      </div>
      <div class="ml-auto">
        <nav class="site-navigation position-relative text-right">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#home-section" class="nav-link">Home</a></li>
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#howto-section" class="nav-link">How to's</a></li>
            <!-- <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#classes-section" class="nav-link">How-tos</a></li> -->
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#faqs-section" class="nav-link">FAQs</a></li>
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#about-section" class="nav-link">About</a></li>
            <!-- The Services tab is hidden as we don't need it now. The classes-section looks a lot like the FAQs one -->
            <!-- <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#classes-section" class="nav-link">Services</a></li> -->
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#contact-section" class="nav-link">Contact</a></li>
          </ul>
        </nav>
        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
            class="icon-menu h3"></span></a>
      </div>
    </div>
  </div>
</header>
