<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<header class="site-navbar py-4 js-sticky-header site-navbar-target">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a href="{{ htmlWebpackPlugin.options.baseUrl }}">
          <div class="logo" style="background-image: url('assets/images/tweak-logo-23042020.png');" title="tweak logo"></div>
        </a>
      </div>
      <div class="ml-auto">
        <nav class="site-navigation position-relative text-right">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#home-section" class="nav-link" title="Link to the homepage">Home</a></li>
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#faqs-section" class="nav-link" title="Link to the FAQs section">FAQs</a></li>
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#contact-section" class="nav-link" title="Link to the Get In Touch section">Get In Touch</a></li>
            <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}#about-section" class="nav-link" title="Link to the About Us section">About</a></li>
            <li><a href="{{ htmlWebpackPlugin.options.content.links.documentation }}" class="nav-link" title="Link to the documentation page">Docs</a></li>
            <li><a href="{{ htmlWebpackPlugin.options.content.links.changelog }}" class="nav-link" title="Link to the changelog page">Changelog</a></li>
          </ul>
        </nav>
        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
            class="icon-menu h3"></span></a>
      </div>
    </div>
  </div>
</header>
